.header{
    background-color: #67AAF9;
    position:absolute;
    top:0;
    height: 45px;
    width: 100%;
}

.sessionNumber{
    display: inline-block;
    position: absolute;
    left: 10px;
    margin-top:14px;
}

.participantNumber{
    position:absolute;
    right: 10px;
}