.header{
    background-color: #FFF;
    opacity: 0.8;
    position:absolute;
    top:0;
    height: 60px;
    width: 100%; 
}

.sessionBlock{
    position: absolute;
    top: 15px;
    left: 15px;
}

.participantBlock{
    position:absolute;
    top: 15px;
    right: 15px;
}