.header{
    position:absolute;
    top:0;
    height: 55px;
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.sessionBlock{
    position: absolute;
    top: 15px;
    left: 15px;
}

.participantBlock{
    position:absolute;
    top: 15px;
    right: 15px;
}