body {
  margin: 80px 0 0 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

h1 {
	font-size: 18px;
}

.yellow {
    color: #FFB90F;
}

.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px; 
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 0 5px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

input[type="text"]{
    width: 93%;
    margin: 0px 0 10px;
    font-family: inherit;
    font-size: 100%;
    padding: 20px 3%;
    border: 0px;
    background-color: #FAFAFA;
}

.card {
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
    padding: 10px 3% 20px;
    overflow:auto;    
}

/* Icons Shared CSS */
.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.iconLabel{
    display: inline-block;
}

.iconSVG{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.waitingView {
    color: grey;
    margin-top: 30px;
}

/***** LAUNCH PAGE **************/

.launch{
	margin: 0 auto;
    width: 100%;
    margin-top: 60px;
    text-align:center;

}

.logoArea {
    margin-bottom: 40px;
}

.logoArea .iconSVG{
    width: 48px;
    height: 48px;
    stroke-width: 2;
}

.launch .card{
    width: 300px;
    margin: 10px;
    display:inline-block;
    vertical-align: top;
}

.launch .card:last-child { 
    
}

/***** QUESTIONS **************/

.questionList{
	margin: 0 auto;
    width: 100%;
    text-align: center;
}

.question {
    max-width: 600px;
    margin: 20px auto 0;
}

.questionTitle{
	text-align: left;
}

.questionStatus{
    display: inline-block;
    padding-right: 20px;
}

.questionActions{
    float: right;
    margin-top: 10px;
}

/***** ANSWERS **************/

.answerList {
    list-style: none;
    padding-left:0;
    margin-top:0;
}

.answer {
    text-align: left;
    height: 36px;
    position:relative;
}

.answer p{
    display: inline-block;
    margin-right: 15px;
}

.answer .iconSVG{
    display: inline-block;
    vertical-align: middle;
    stroke-width: 1;
    fill: #FFB90F;
    margin-left: 10px;
    color: #3498db;
}

.answer input[type="checkbox"] {
    position:absolute;
    right: 10px;
    top:40%;
}

.responses {
    padding: 10px 3% 20px;
    margin: 20px auto 0;
    max-width:600px;
}

.responsesTitle {
    text-align: left;
    margin:30px 0 0;
    padding-left:5px;
    color:#888;
}

.responses .answer {
    border-bottom: 1px solid #ddd;
    padding:8px 5px;
}

.responses .answer:last-child {
    border-bottom: none;
}